extends layout

block content
  //h1= title
  //p Welcome to #{title}

  p {{6}}
    div(id="summernote")
      p Hello Summernote
  a(href='apl')= "Привет"
  div(class="jumbotron text-center")
      span {{a}}